<%- include('header'); -%>

<div class="todo-content-container">
	<div class="todo-content">
		<div>
			<ul>
				<li><h1><%= todo.title %></h1></li>
				<li><%= todo.notes %></li>
				<li><p class="priority-<%= todo.priority %>"><%= todo.priority %></p></li>
				<li><div class="todo-content-image"><img src="<%= todo.image %>" /></div></li>
			</ul>
			<div class="todo-stats">
				<h1>Stats</h1>
				<div class="stats">
					<div>Progress</div>
					<div class="stat-bar-bg">
						<div class="stat-bar-progress-<%= todo.progress %>"></div> 
					</div>
					<div><%= todo.progress %>%</div>
				</div>
				<div class="stats">
					<div>Work Rate</div>
					<div class="stat-bar-bg">
						<div class="stat-bar-progress-<%= todo.workRate %>"></div>
					</div>
					<div><%= todo.workRate %>%</div>
				</div>
				<div class="stats"> 
					<div>Procrastination</div>
					<div class="stat-bar-bg">
						<div class="stat-bar-progress-<%= todo.procrastination %>"></div>
					</div>
					<div><%= todo.procrastination %>%</div>
				</div>
			</div>
		</div>
		<div class="todo-delete">
			<div class="todo-edit">
				<a href="/edit-todo/<%= todo.id %>?edit=true">Edit</a>
			</div>
			<form method="POST" action="/delete">
				<input type="hidden" name="todoId" value="<%= todo.id %>" />
				<button type="submit" class="todo-delete-button-content">Delete</button>
			</form>
		</div>
		
	</div>
</div>
	<%- include('footer'); -%>
</body>
