<%- include('header'); -%>

	<div class="container">
		<% todos.forEach(todo => { %>
		<div class="todo-container">
			<div><p class="priority-<%= todo.priority %>"><%= todo.priority %></p></div>
			<div class="todo">
				<div class="todo-image">
					<img src="<%= todo.image %>" />
				</div>
				<div class="todo-description">
					<ul>
						<li><a href="/todo/<%= todo.id %>"><%= todo.title %></a></li>
						<li><p class="todo-notes"><%= todo.notes %></p></li>
					</ul>
				</div>
			</div>
			<div class="todo-delete">
				<form method="POST" action="/delete">
					<input type="hidden" name="todoId" value="<%= todo.id %>" />
					<button type="submit" class="todo-delete-btn">X</button>
				</form>
			</div>
		</div>
		<% }) %>
	</div>
	<%- include('footer'); -%>
</body>
