<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>To Do Home Page</title>
	</head>
	<body>
		<h1>To Do Home Page</h1>
		<div>
			<% todos.forEach(todo => { %>
			<ul>
				<li><a href="/todo/<%= todo.id %>"><%= todo.title %></a></li>
				<li><%= todo.notes %></li>
				<li><%= todo.priority %></li>
				<li><img src="<%= todo.image %>" alt="<%= todo.title %>" /></li>
			</ul>
			<% }) %>
		</div>
	</body>
</html>
